/* .note {
    position: fixed;
    bottom: 0;
    right: 0;
} */

#noteBtn {
    background-color: rgba(191,26,4,1);
    position: fixed;
    bottom: 170px;
    right: 80px;
    padding: 15px;
    border-radius: 100%;
    border: none;
    outline: none;
}

#noteBtn:hover {
    background-color: rgba(150,26,4,1);
}

#noteBtn.active{
    background-color: rgba(150,26,4,1);
} 

#cart-content {
    display: hidden;
}

#cart-content.active {
    position: fixed;
    border: 2px solid #ddd;
    background-color: rgb(37,37,37,0.9);
    border-radius: 80px;
    bottom: 260px;
    right: 30px;
    height: 600px;
    width: 500px;
    z-index: 1;
}