h1 {
  color: white;
}

#page {
  height: calc(95vh - 230px);
  min-width: 1280px;
}

#title {
  margin-top: 140px;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 35px;
}

.menu-div {
  height: calc(100vh - 450px);
  overflow: auto;
  scrollbar-width: none;
}

.menu-div::-webkit-scrollbar {
  display: none;
}

.menu-page,
.location-page {
  height: calc((var(--vh, 1vh) * 90) - 180px);
  width: 100vw;
}

.menu-page a {
  font-size: 1.5vh;
}

#back-btn {
  margin-top: 30px;
  background: rgba(0,0,0,0);
  border: 2px solid white;
  color: white;
  border-radius: 5px;
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
  transition: 0.4s;
  outline: none;
}

#back-btn:hover {
  color: rgba(191,26,4,1);
  border: 2px solid rgba(191,26,4,1);
}


.location-selector{
  height: calc(90vh - 200px);
  padding-top: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location-selector a {
  text-align: center;
  text-decoration: none;
  align-items: center;
}

.location-selector button {
  background-color: rgba(0,0,0,0);
  font-family: "Courier New", Courier, monospace;
  font-size: 5vh;
  border: none;
  color: #ddd;
}

.location-selector button:focus {
  outline: none;
}

.location-selector button:hover {
  color: rgba(191,26,4,1);
}

#menu-selector-btn {
  margin-bottom: 5vh;
}

.menu-category {
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
  color: rgba(221,221,221,1);
  background-color: rgba(0,0,0,0);
  margin: 20px 0 10px 0;
  border: none;
  width: 100%;
  text-align: center;
  cursor: pointer;
  outline: none;
  transition: 0.4s;
}

.menu-category:focus{
  border: none;
  outline: none;
}

.menu-category.active,
.menu-category:hover{
  background-color: rgba(0,0,0,0);
  color: rgba(191,26,4,1);
  border: none;
}

/* .menu-content {
  text-align: left;
  height: 0px;
  color: transparent;
  border-bottom: 2px solid #bf1a04;
  line-height: 0;
  transition: 0.4s;
}

.menu-content.isActive {
  height: auto;
  line-height: 1;
  color: white;
} */

.location-page {
  height: calc((var(--vh, 1vh) * 90) - 180px);
}

.react-slidedown.menu-slider {
  transition-duration: 1s;
}

.item-div {
  background: #252525;
  border: 2px solid #fff;
  border-radius: 100px;
  width: 70%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px 30px 35px 30px;
}

.item-title {
  font-size: 40px;
  margin-top: 35px;
  margin-bottom: 10px;
  font-weight: bold;
  text-decoration-style: solid;
  color: #ddd;
}

.items {
  display:flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.bento-items {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.bento-items .item {
  margin: 5px 0;
  color: #ddd;
  font-size: 20px;
}

.item {
  margin: 5px ;
  max-width: 400px;
  border-radius: 100px;
  flex: 1 1 400px;
  background: #333;
  padding: 15px 15px;
}

.item h4 {
  margin: 0;
  font-style: italic;
  font-size: 25px;
  font-weight: normal;
  color: #ddd;
}

.item p {
  font-size: 20px;
  color: #ddd;
  margin: 0px;
}

#nigiri-content .item {
  flex: 1 1 200px;
}

.nigiri-warning {
  color: #ddd;
}

.bento-description {
  color: #ddd;
  font-size: 20px;
  margin: 10px;
}

.discount{
  margin-top: 20px;
  font-size: 50px;
  color: #ddd;
}

.roll-extra {
  margin-top: 50px;
  padding: 0 50px 30px 50px;
  color: #ddd;
}

.extras {
  border: 1px solid #252525;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.extra {
  margin: 5px 20px;
  font-size: 20px;
}

/* Mobile CSS*/

@media only screen and (max-width: 550px) {
  /* header: 80px font-size for back button: 1.5vh double border line: 8px footer: 80px page-title: 5vh*/
  /* Header */
  #page {
    min-width: auto;
  }

  /* menu mobile version */
  #title {
    margin-top: 90px;
    font-size: 25px;
  }

  .menu-div {
    height: calc(100vh - 300px);
  }

  #main-nav {
    margin-top: 30px;
  }

  #main-nav button {
    font-size: 10px;
    margin-right: 5px;
  }

  #main-nav button.active {
    font-size: 10px;
    margin-right: 5px;
  }

  #main-nav button.clicked,
  #main-nav button:hover {
    font-size: 20px;
  }

  /* Menu mobile */

  .menu-category {
    font-size: 20px;
  }

  .location-selector{
    height: calc(var(--vh, 1vh) * 100);
  }

  .location-selector button {
    font-size: 3.5vh;
  }

  .page-title {
    font-size: 4vh;
    height: 5vh;
    border-bottom: 8px double #ddd;
  }

  .menu-page,
  .location-page {
    height: calc(var(--vh, 1vh) * 100);
  }

  .item-div {
    border-radius: 80px;
    width: 90%;
    padding: 0px 5px 35px 5px;
    margin: auto;
  }

  .item-title {
    font-size: 30px;
  }

  .item {
    border-radius: 80px;

  }

  .item h4 {
    font-size: 22px;
  }

  .item p {
    font-size: 15px;
  }

  .discount {
    font-size: 25px;
  }

  .menu-page a {
    font-size: 1.5vh;
  }

  #menu-container {
    height: calc(var(--vh, 1vh) * 100);
  }

  #roseville-menu-content.active {
    position: relative;
    height: calc((var(--vh, 1vh) * 90) - 210px);
    margin-bottom: 10px;
  }

  #eldorado-menu-content.active {
    position: relative;
    height: calc((var(--vh, 1vh) * 90) - 210px);
    margin-bottom: 10px;
  }

  #back-btn {
    font-size: 15px;
  }

}